@charset "UFTF-8";
@font-face {
    font-family: 'logoP';
    src: url(fontes/Pokemon\ Solid.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: rgb(98, 140, 231);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    color: yellow;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #000000, 0px 1px 1px #000000, 2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #CCCCCC, 2px 3px 1px #000000, 4px 3px 1px #000000, 3px 4px 1px #000000, 5px 4px 1px;
    -webkit-box-shadow: -16px 14px 22px -3px rgba(0,0,0,0.73);
    -moz-box-shadow: -16px 14px 22px -3px rgba(0,0,0,0.73);
    box-shadow: -16px 14px 22px -3px rgba(0,0,0,0.73);
}
header > h1{
    font-family: 'logoP', 'Serif';
    font-size: 2.5em;
}
main{
    color: rgb(255, 255, 255);
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    padding-top: 15px;
    line-height: 50px;
    width: 500px;
    margin-top: 45px;
    background-color: rgb(159, 159, 255);
    text-align: center;
    -webkit-box-shadow: -16px 14px 22px -3px rgba(0,0,0,0.73);
    -moz-box-shadow: -16px 14px 22px -3px rgba(0,0,0,0.73);
    box-shadow: -16px 14px 22px -3px rgba(0,0,0,0.73);
    text-shadow: 1px 1px 1px black;
}
main  h1{
    font-family: 'logoP', serif;
    color: yellow;
    margin-bottom: 30px;
    text-shadow: 1px 2px 1px #000000, 2px 3px 1px, #000000, 4px 3px 1px #000000, 3px 4px 1px #000000, 5px 4px 1px #000000, 4px 5px 1px #000000, 6px 5px 1px #000000, 5px 6px 1px #000000, 7px 6px 1px #030303;
}
div#info > img{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 450px;
    border-radius: 5px;
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.507);
}
p.form{
    font-size: 30px;
    font-weight: bold;
}
main h2{
    font-size: 2em;
}
input#ana{
    -webkit-box-shadow: 2px -2px 12px -2px rgba(0, 0, 0, 0.562);
    -moz-box-shadow: 2px -2px 12px -2px rgba(0, 0, 0, 0.363);
    box-shadow: 2px -2px 12px -2px rgba(0, 0, 0, 0.336);
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}

p#evo{
    font-size: 30px;
}
p#p2{
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
}
div#res{
    text-indent: 20px;
    padding: 10px;
    line-height: normal;
    font-size: 1.5em;
    text-align: justify
}
footer {
    bottom: 0;
    margin-top: 20px;
    background-color: #0e4c92; /* azul predominante */
    color: white; /* texto branco */
    padding: 20px; /* espaçamento interno */
     /* sombra */
    text-align: center; /* centralizar o conteúdo */
    font-size: 25px; /* tamanho da fonte */
  }
  
  footer a {
    color: #ffdd00; /* amarelo predominante */
    text-decoration: none; /* remover sublinhado */
    transition: all 0.2s ease-in-out; /* animação de transição */
  }
  
  footer a:hover {
    color: #ffbb00; /* amarelo mais escuro */
    text-decoration: underline; /* sublinhar ao passar o mouse */
    transform: scale(1.2); /* aumenta o tamanho do link */
    transition: all 0.3s ease-in-out; /* animação de transição mais lenta */
  }
  
  footer p {
    font-size: 18px; /* tamanho do texto */
    margin: 0; /* margem zero */
    padding: 10px 0; /* espaçamento interno */
  }
  @media screen and (orientation: portrait) {
    header h1{
        font-size: 1.4em;
    }
    main h1{
        font-size: 1.5em;
    }
    main{
        width: 285px;
    }
    div#info > img{
        width: 275px;
    }
    p.form{
        font-size: 25px;
        font-weight: bold;
    }
    p#evo{
        font-size: 24px;
    }
    div#res{
        padding: 10px;
        line-height: normal;
        font-size: 1.2em;
        text-align: justify;
    }
    footer p{
        font-size: 20px;
        padding-bottom: 10px;
    }
  }
