@charset "UFTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
main{
    color: White;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    padding-top: 15px;
    line-height: 50px;
    width: 650px;
    margin-top: 45px;
    background-color: blue;
    text-align: center;
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.507);
}
main  h1{
    text-shadow: 1px 1px 1px black;
}
div#info > img{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 600px;
    border-radius: 5px;
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.507);
}
p{
    font-size: 25px;
}
input{
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.034);
}
footer{
    background-color: bisque;
    font-weight: 500;
    margin-top: 15px;
    text-align: center;
}